 
body{
   text-align: center;
    background-color: black; 
    text-align: center;
    color: white;
    }
    .header{
     color: white;
     font-style: italic;
     font-size: 25px;
    margin-bottom: 50px;
    margin-top: 20px;
    }
    .label{
        color: grey;
        font-size: small;
          
    }
     .Add-todo{
        background-color: rgb(0, 170, 255);
    margin-left: -12px; 
    padding-top: 4px;
    padding-bottom: 2px;
    }
    .plus{
        font-size: larger;
        font-weight: bolder;
    color: black;
    }
    .todo-done-list{
        text-decoration: line-through;
        color: #999;
    }
    .add-box{
     width: 40%;    
    padding: 5px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #2D208A;
    border-radius: 4px;
     border: none;
     border-bottom: 2px solid red;
     background-color: #3CBC8D;
     color: black;
     font-family: arial;
     
    }
    .add-box:focus{
        background-color: lightblue;
        border: 3px solid #555;
    }
    .add-button{
        background-color: #04AA6D;
        border: none;
        color: black;
        padding: 8px 16px;
        margin: 4px 2px;
        cursor: pointer;
    transition: 0.15s;
    }
    .add-button:hover{
        background-color: #72baa0;
    }
    .date-picker{
        background-color: #04AA6D;
        border: none;
        color: black;
        padding: 4px 8px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .done-list{
        text-decoration: line-through;
        color: #999;
    }